<div class="container">
  <div class="flexItem">
    <div class="theInnerFlexContainer">
      <mat-horizontal-stepper
        [linear]="false"
        (animationDone)="onAnimationDone()"
        #stepper
      >
        <mat-step
          *ngFor="let oneFormGroup of formGroups; let index = index"
          [stepControl]="oneFormGroup"
          [label]="routingRoutes[index].data.label"
        >
          <ng-template matStepperIcon="edit">
            <mat-icon>none</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="number">
            <mat-icon>none</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="selected">
            <mat-icon>none</mat-icon>
          </ng-template>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
