<div class="container">
  <div class="flexItem">
    <div class="theInnerFlexContainer">
      <mat-vertical-stepper
        [linear]="false"
        (animationDone)="onAnimationDone()"
        #stepper
      >
        <mat-step
          *ngFor="let oneDisplayedIndex of displayedIndexes"
          [stepControl]="
            formGroups[displayedIndexToRealIndexMap[oneDisplayedIndex]]
              ? formGroups[displayedIndexToRealIndexMap[oneDisplayedIndex]]
              : staticFormGroup
          "
          [label]="
            routingRoutes[displayedIndexToRealIndexMap[oneDisplayedIndex]]
              ? routingRoutes[displayedIndexToRealIndexMap[oneDisplayedIndex]]
                  .data.label
              : ''
          "
        >
          <form
            [formGroup]="
              formGroups[displayedIndexToRealIndexMap[oneDisplayedIndex]]
                ? formGroups[displayedIndexToRealIndexMap[oneDisplayedIndex]]
                : staticFormGroup
            "
          >
            <mat-icon>none</mat-icon>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
