<div fxFlex="1 1 100%" fxLayout="row" fxFlexFill fxLayoutAlign="center center">
  <div fxFlex="1 1 100%" fxLayout="column">
    <div fxFlex="1 1 100%" *ngIf="isQuerySelectionVisible">
      <mtt-query-group-category (queryGroupCategory)="onQueryGroupCategory($event)"></mtt-query-group-category>
      <mtt-query-time-boundaries [showTableIcon]="true" (queryTimeBoundaries)="onQueryTimeBoundaries($event)">
      </mtt-query-time-boundaries>
    </div>
    <div fxFlex="1 1 100%" *ngIf="isQueryDataVisible">
      <mtt-stats-by-category-table
        [summarizedTasksByCategoryBuffer]="summarizedTasksByCategoryBuffer"
        [groupCategories]="groupCategories"
      ></mtt-stats-by-category-table>
    </div>
  </div>
</div>
