// https://stackoverflow.com/questions/53020792/how-to-set-width-of-mat-table-column-in-angular/53023265
table, form {
  // https://stackoverflow.com/questions/33606565/is-it-possible-to-calculate-the-viewport-width-vw-without-scrollbar
  width: calc(100vw - (100vw - 100%));
}

::ng-deep mat-form-field.ng-invalid {
  background-color: red;
}

:host {
  width:  100%;
  height: 100%;
  display: flex;
  flex: 1 1 100%
}
