<div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
  <div fxLayout="column" fxFlexFill fxFlex="1 1 100%">
    <div *ngIf="isQuerySelectionVisible" fxFlex="1 1 100%">
      <div fxLayout="column">
        <mtt-query-time-boundaries
          fxFlex="1 1 100%"
          [showContextIcon]="true"
          (queryTimeBoundaries)="onQueryTimeBoundaries($event)"
        >
        </mtt-query-time-boundaries>
      </div>
    </div>
    <div fxFlex="1 1 100%" *ngIf="isTableVisible">
      <div fxFlexFill fxLayout="column" fxFlex="1 1 100%">
        <table mat-table [dataSource]="dataSource">
          <ng-container [matColumnDef]="displayedColumns[0]">
            <th mat-header-cell *matHeaderCellDef>Start-Time</th>
            <td mat-cell *matCellDef="let row">
              {{ row.startTime | date: classInstance.formatDate }}
            </td>
          </ng-container>
          <ng-container [matColumnDef]="displayedColumns[1]">
            <th mat-header-cell *matHeaderCellDef>Duration</th>
            <td mat-cell *matCellDef="let row">
              {{ row.duration }}
            </td>
          </ng-container>
          <ng-container [matColumnDef]="displayedColumns[2]">
            <th mat-header-cell *matHeaderCellDef>Task-Number</th>
            <td mat-cell *matCellDef="let row" [style.background-color]="backgroundColorMap[row.taskId]" [style.color]="colorMap[row.taskId]">
              <a [href]="row.taskNumberUrl">{{ row.taskNumber }}</a>
            </td>
          </ng-container>
          <ng-container [matColumnDef]="displayedColumns[3]">
            <th mat-header-cell *matHeaderCellDef>Task-Name</th>
            <td mat-cell *matCellDef="let row" [style.background-color]="backgroundColorMap[row.taskId]" [style.color]="colorMap[row.taskId]">
              {{ row.taskName }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
