<div class="container">
  <div class="flexItem">
    <div>
      <form [formGroup]="bookingDeclarationFromGroup" (submit)="onSubmit(bookingDeclarationFromGroup.value)">
        <div class="innerFormFlexContainer">
          <div class="innerFormFlexItem">
            <label>Code:</label><input type="text" [formControlName]="formControlNameCode">
          </div>
          <div class="innerFormFlexItem">
            <label>Description:</label><input type="text" [formControlName]="formControlNameDescription">
          </div>
          <div class="innerFormFlexItem">
            <table>
              <tr>
                <th>Project(s)</th>
              </tr>
              <tr *ngFor="let item of projects; let index = index">
                <td><mat-checkbox [value]="item.projectId"  [formControlName]="formControlNameProjectIds[index]">{{item.name}}</mat-checkbox></td>
              </tr>
            </table>
          </div>
          <div class="innerFormFlexItem">
            <button type="submit" [disabled]="bookingDeclarationFromGroup.invalid">Add Booking-Declaration</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
