<div class="container">
  <div class="flexItem">
    <div>
      <form [formGroup]="bookingDeclarationFromGroup" (submit)="onSubmit(bookingDeclarationFromGroup.value)">
        <div class="innerFormFlexContainer">
          <div class="innerFormFlexItem">
            <label>Code:</label><input type="text" [formControlName]="formControlNameCode">
          </div>
          <div class="innerFormFlexItem">
            <label>Description:</label><input type="text" [formControlName]="formControlNameDescription">
          </div>
          <div class="innerFormFlexItem">
            <mat-checkbox [value]="item.projectId" *ngFor="let item of projects; let index = index" [formControlName]="formControlNameProjectIds[index]">{{item.name}}</mat-checkbox>
          </div>
          <div class="innerFormFlexItem">
            <button type="submit" [disabled]="bookingDeclarationFromGroup.invalid">Add Booking-Declaration</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
