<div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
  <div fxFlex="0 1 auto">
    <div>
      <form [formGroup]="bookingDeclarationFromGroup" (submit)="onSubmit(bookingDeclarationFromGroup.value)">
        <div>
          <div>
            <label>Code:</label><input type="text" [formControlName]="formControlNameCode">
          </div>
          <div>
            <label>Description:</label><input type="text" [formControlName]="formControlNameDescription">
          </div>
          <div>
            <table>
              <tr>
                <th>Project(s)</th>
              </tr>
              <tr *ngFor="let item of projects; let index = index">
                <td><mat-checkbox [value]="item.projectId"  [formControlName]="formControlNameProjectIds[index]">{{item.name}}</mat-checkbox></td>
              </tr>
            </table>
          </div>
          <div>
            <button type="submit" [disabled]="bookingDeclarationFromGroup.invalid">Add Booking-Declaration</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
