<div *ngIf="isVisible">
  <form [formGroup]="ngFormGroup" (submit)="submit(ngFormGroup.value)">
    <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input
        [formControlName]="userNameFormControlName"
        matInput
        type="text"
        placeholder="Username"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input
        [formControlName]="passwordFormControlname"
        matInput
        type="password"
        placeholder="Password"
      />
    </mat-form-field>
    <button mat-raised-button class="full-width" [disabled]="ngFormGroup.invalid" type="submit">Login</button>
  </form>
  <br />
  <br />
  <br />
</div>
