<div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
  <div fxLayout="column" fxFlexFill fxLayoutAlign="center center" fxFlex="1 1 100%">
    <div fxFlexFill fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 100%">
      <mtt-add-time-entry (timeEntry)="onTimeEntryAdded($event)"></mtt-add-time-entry>
    </div>
    <div fxFlexFill fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 100%">
      <mtt-static-time-entries-table [timeEntries]="pauses"></mtt-static-time-entries-table>
    </div>
  </div>
</div>
