<div class="container">
  <div class="flexItem">
    <div class="innerContainer">
      <div class="innerFlexItem">
        <form
          [formGroup]="commitFormGroup"
          (submit)="onCommitClicked(commitFormGroup.value)"
        >
          <div class="formFlexContainer">
            <div class="formFlexItem">
              <mat-select
                (selectionChange)="onDaySelectionChanged($event)"
                [formControl]="formControlsMap.DayDropDown"
                [required]="true"
              >
                <mat-option
                  *ngFor="let dayOption of dayOptions"
                  [value]="dayOption.value"
                >
                  {{ dayOption.viewValue | date: "yyyy-MM-dd" }}
                </mat-option>
              </mat-select>
            </div>
            <div class="formFlexItem">
              <mtt-book-table
                [currentDayOption]="selectedOption"
              ></mtt-book-table>
            </div>
            <div class="commit-button-container">
              <button
                class="commit-button"
                type="submit"
                [disabled]="commitFormGroup.invalid || isButtonDisabled"
              >
                Commit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
