<div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
  <div fxLayout="column">
    <div fxFlex="1 1 100%">
      <form *ngIf="isVisible" #addTimeEntryForm fxLayout="column" [formGroup]="addTimeFormGroup" (submit)="onAddTimeEntry(addTimeFormGroup?.value)">
        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="1 1 100%">
            <mat-form-field>
              <mat-label>Start Time</mat-label>
              <input [formControlName]="startTimeFormControlName" matInput type="datetime-local" />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="center center">
            <!-- <mat-form-field>
              <mat-label>Start Time</mat-label> -->
              <!-- <input [formControlName]="queryTimeStartFormControlName" matInput type="datetime-local" /> -->
              <label>{{getDurationStr()}}</label>
            <!-- </mat-form-field> -->
          </div>
        </div>
        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="1 1 100%">
            <mat-form-field>
              <mat-label>End Time</mat-label>
              <input [formControlName]="endTimeFormControlName" matInput type="datetime-local" />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="center center">
            <button mat-icon-button type="submit" [disabled]="addTimeFormGroup?.invalid">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
