<div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
  <div fxLayout="column">
    <div fxFlex="1 1 100%">
        <form fxLayout="column" [formGroup]="queryTimeFormGroup" (submit)="onQueryTime(queryTimeFormGroup.value)">
          <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="1 1 100%">
              <button mat-icon-button type="button" (click)="setToCurrentTime(queryTimeStartFormControlName)">
                <mat-icon>refresh</mat-icon>
              </button>
            </div>
            <div fxFlex="1 1 100%">
              <mat-form-field>
                <mat-label>(earliest) start time</mat-label>
                <input [formControlName]="queryTimeStartFormControlName" matInput type="datetime-local" />
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="1 1 100%">
              <button mat-icon-button type="button" (click)="setToCurrentTime(queryTimeEndFormControlName)">
                <mat-icon>refresh</mat-icon>
              </button>
            </div>
            <div fxFlex="1 1 100%">
              <mat-form-field>
                <mat-label>(latest) end time</mat-label>
                <input [formControlName]="queryTimeEndFormControlName" matInput type="datetime-local" />
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="center center">
            <button mat-icon-button *ngIf="showTableIcon" type="submit">
              <mat-icon>table_chart</mat-icon>
            </button>
            <button mat-icon-button *ngIf="showChartIcon" type="submit">
              <mat-icon>show_chart</mat-icon>
            </button>
          </div>
        </form>
    </div>
  </div>
