<div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
  <div fxFlex="1 1 100%">
    <div fxLayout="column">
      <div fxFlex="1 1 100%">
        <form [formGroup]="formGroup" (submit)="onSubmit(formGroup.value)">
          <div fxLayout="column">
            <div fxFlex="1 1 100%">
              <mat-select
                (selectionChange)="onDaySelectionChanged($event)"
                [formControlName]="formGroupControlNames[0]"
                [required]="true"
              >
                <mat-option
                  *ngFor="let dayOption of dayOptions"
                  [value]="dayOption.value"
                >
                  {{ dayOption.viewValue | date: "yyyy-MM-dd" }}
                </mat-option>
              </mat-select>
            </div>
            <div fxFlex="1 1 100%">
              <mtt-commit-or-book-table
                [isTaskBased]="isTaskBased"
                [isBookingBased]="isBookingBased"
                [columnNames]="columnNames"
                [currentDayOption]="currentDayOption"
              >
              </mtt-commit-or-book-table>
            </div>
            <div fxLayout="row" fxFlex="1 1 100%">
              <button
                fxFlex="1 1 100%"
                type="submit"
                [disabled]="formGroup.invalid || isButtonDisabled"
              >
                <span *ngIf="isTaskBased">Commit</span>
                <span *ngIf="isBookingBased">Book</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
