.time-visualization {
  color: white;
  font-size: xx-large;
  font-weight: bold;
}

.running-time-measurement {
  background-color: green;
}

.stopped-time-measurement {
  background-color: red;
}
