<div fxLayout="column">
  <div fxFlex="1 1 0" class="space-around" fxLayoutAlign="center center">
    <button
      type="button"
      (click)="onStartStopButtonClicked()"
      mat-stroke-button
      [disabled]="isStartStopButtonDisabled"
    >
      {{ startStopButtonLabel }}
    </button>
  </div>
  <div
    fxFlex="1 1 0"
    class="space-around"
    fxLayoutAlign="center center"
    *ngIf="currentTimeEntryDuration"
  >
    <div fxLayout="row" fxLayoutAlign="center center">
      <div
        fxFlex="1 1 0"
        class = "time-visualization"
        [ngClass]="{
          'running-time-measurement':
            startStopButtonLabel === TimeTrackingState.stop,
          'stopped-time-measurement':
            startStopButtonLabel === TimeTrackingState.start
        }"
      >
        {{ currentTimeEntryDuration }}
      </div>
    </div>
  </div>
</div>
