<div fxLayout="column">
  <div fxFlex="1 1 0" class="space-around" fxLayoutAlign="center center">
    <button
      fxFlex="1 1 0"
      type="button"
      (click)="onStartStopButtonClicked()"
      mat-raised-button	
      [disabled]="isStartStopButtonDisabled"
    >
      {{ startStopButtonLabel }}
    </button>
  </div>
  <div
    fxFlex="1 1 0"
    class="space-around"
    fxLayoutAlign="center center"
    *ngIf="currentTimeEntryDuration"
  >
    <mtt-time-visualization
      [currentDuration]="currentTimeEntryDuration"
      [timeTrackingState]="startStopButtonLabel"
    ></mtt-time-visualization>    
  </div>
</div>
