.contentContainer {
  display: flex;
  // height: 80%;
  flex-direction: column;
}

.routerOutletFlexItem {
  flex: 1 1 100%;
  // border: 1px solid black;
  margin: 10px;
}

.footerFlexItem {
  flex: 1 1 100%;
  // border: 1px solid black;
  margin: 10px;
}

.oneHundredPercent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.headerFlexItem {
  // flex: 0 1 12%;
  flex: 1 1 100%;
}

.contentPlusFooterFlexItem {
  // flex: 0 1 88%;
  flex: 1 1 100%;
}

