.contentContainer {
  display: flex;
  // height: 80%;
  flex-direction: column;
}

.routerOutletFlexItem {
  flex: 0 1 auot;
  // border: 1px solid black;
  margin: 10px;
}

.footerFlexItem {
  flex: 0 1 auto;
  // border: 1px solid black;
  margin: 10px;
}

.oneHundredPercent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.headerFlexItem {
  flex: 0 1 12%;
}

.contentPlusFooterFlexItem {
  flex: 0 1 88%;
}

