<div class="oneHundredPercent">
  <div class="headerFlexItem">
    <mat-toolbar color="primary">

      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar>
  </div>
  <div class="contentPlusFooterFlexItem">
    <mat-sidenav-container fxFlexFill class="example-container" style="height: 100%">

      <mat-sidenav #sidenav fxLayout="column">

        <div fxLayout="column">

          <button mat-button (click)="sidenav.toggle()" href="#" mat-button>Close</button>

          <button *ngFor="let navItem of navItems" (click)="sidenav.toggle()" routerLink="{{navItem.path}}"
            mat-button>{{navItem.label}}</button>

        </div>

      </mat-sidenav>

      <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div class="stickyFooterFlexItem">
    <mtt-router-pages-switcher></mtt-router-pages-switcher>
  </div>
</div>
