<div *ngIf="dataSource && dataSource.data && dataSource.data.length > 0">
    <table #projectsTable mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="identifer">
        <th mat-header-cell *matHeaderCellDef>{{identiferColumnName}}</th>
        <td mat-cell *matCellDef="let line">
          <span *ngIf="(this.configurationService.configuration.taskBasedIdentifierBaseUrl || this.configurationService.configuration.bookingBasedIdentifierBaseUrl)">
            <a [href]="line.identifierUrl">{{line.identifier}}</a>
          </span>
          <span *ngIf="!(this.configurationService.configuration.taskBasedIdentifierBaseUrl || this.configurationService.configuration.bookingBasedIdentifierBaseUrl)">
            {{line.identifier}}
          </span>
        </td>
      </ng-container>
      <!---->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> {{descriptionColumnName}}</th>
        <td mat-cell *matCellDef="let line">
          {{ line.description}}
        </td>
      </ng-container>
      <ng-container matColumnDef="durationInHours">
        <th mat-header-cell *matHeaderCellDef>Duration (Hours)</th>
        <td mat-cell *matCellDef="let line">
          {{ line.durationInHours }}
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div>
    <table>
      <tr>
        <th class="over-all-sum-first-column-width">
          &nbsp;
        </th>
        <th class="over-all-sum-second-column-width">
          &nbsp;
        </th>
        <th class="over-all-sum-third-column-width">
          Overall Sum
        </th>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
           {{overallDurationSum}}
        </td>
      </tr>
    </table>
  </div>
  