<div fxFlex="1 1 0" fxLayout="row" fxFlexFill fxLayoutAlign="center center" class="overflow-hidden">
  <div fxFlex="1 1 0">
    <form [formGroup]="timeTrackingUserSelectionForm">
      <div fxLayout="column">
        <div fxFlex="1 1 0" class="space-around">
          <mat-select
            placeholder="Project"
            matInput
            [formControl]="timeTrackingProjectSelectionFormControl"
            [required]="true"
            (selectionChange)="onProjectChange($event)"
          >
            <mat-option
              *ngFor="let projectOption of projectOptions"
              [value]="projectOption.value"
            >
              {{ projectOption.viewValue }}
            </mat-option>
          </mat-select>
        </div>
        <div fxFlex="1 1 0" class="space-around" fxLayoutAlign="center center">
          <label [ngClass]="{'text-disabled-color': isUiElementDisabled}">{{bookingDeclarationDescription}}</label>
        </div>
        <div>
          <mtt-name-table
            *ngIf="isTasksTableVisible"
            [currentId]="currentTaskId"
            columnName="Task-Name"
            [gridLines]="gridLines"
            (nameCellClicked)="onTaskRowClicked($event)"
            (deleteRowClicked)="onDeleteRowClicked($event)"
          ></mtt-name-table>
        </div>
        <div fxFlex="1 1 0" class="space-around">
          <mat-select
            placeholder="Task"
            matInput
            [formControl]="timeTrackingTaskSelectionFromControl"
            [required]="true"
            (selectionChange)="onTaskChange()"
          >
            <mat-option
              *ngFor="let taskOption of taskOptions"
              [value]="taskOption.value"
            >
              {{ taskOption.viewValue }}
            </mat-option>
          </mat-select>
        </div>
        <div fxFlex="1 1 0" class="space-around" fxLayoutAlign="center center">
          <button
            type="button"
            (click)="onStartStopButtonClicked()"
            mat-stroke-button
            [disabled]="
              !(
                timeTrackingUserSelectionForm.valid &&
                !isStartStopButtonDisabled
              )
            "
          >
            {{ startStopButtonLabel }}
          </button>
        </div>
        <div fxFlex="1 1 0" class="space-around" fxLayoutAlign="center center" *ngIf="currentTimeEntryDuration">
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="1 1 0">{{currentTimeEntryDuration}}</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
