.space-around {
  margin-top: 15px;
  margin-bottom: 15px;
}

// https://stackoverflow.com/questions/46766597/styling-mat-select-in-angular-material
// .mat-select {
//   // width: 175px !important;
//   // background-color: red;
//   // font-size: 10px;
//   // border: 1 px solid red !important;
//   margin-top: 15px;
//   margin-bottom: 15px;
// }

::ng-deep .mat-select {
  display: unset;
}

::ng-deep .mat-select-value {
  text-align: center !important;
}

// ::ng-deep select {
//   text-align: center;
//   text-align-last: center;
//   /* webkit*/
// }
// ::ng-deep option {
//   text-align: center;
//   /* reset to center*/
// }

// // ::ng-deep .mat-select-value > .mat-select-placeholder {
//   display: flex !important;
//   justify-content: center !important;
// }

// mat-select div.mat-select-trigger div.mat-select-value div.mat-select-placeholder {
//   // color:orange !important;
//   // display: unset;
//   // text-align: center !important;
//   display: flex !important;
//   justify-content: center !important;
// }

// ::ng-deep mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
//   text-align: center !important;
// }

.text-disabled-color {
  color: rgba(0, 0, 0, 0.38);
}

.overflow-hidden {
  // overflow: hidden;
}

.highlighted-line  {
  background-color: lightgray;
}
