<div class="container">
  <div class="flexItem">
    <form [formGroup]="timeTrackingUserSelectionForm">
      <mat-label>User:</mat-label>
      <mat-select matInput [formControl]="timeTrackingUserSelectionFormControl" [required]="true">
        <mat-option *ngFor="let userOption of userOptions" [value]="userOption.value">{{userOption.viewValue}}
        </mat-option>
      </mat-select>
      <div class="buttonFlexContainer">
        <div class="buttonFlexItem">
          <button type="button" (click)="onStartStopButtonClicked()" mat-button
            [disabled]="!(timeTrackingUserSelectionForm.valid && !isStartStopButtonDisabled)">{{startStopButtonLabel}}
          </button>
        </div>
        <div class="buttonFlexItem">
          <button class="buttonFlexItem" type="button" (click)="onPauseResumeButtonClicked()" mat-button
            [disabled]="!(timeTrackingUserSelectionForm.valid && !isPauseResumeButtonDisabled)">{{pauseResumeButtonLabel}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
