.buttonFlexContainer {
  direction: flex;
  flex-direction: column;
}
.buttonFlexItem {
  margin-top: 15px;
  margin-bottom: 15px;
  flex: 0 1 auto;
}
// https://stackoverflow.com/questions/46766597/styling-mat-select-in-angular-material
.mat-select {
  width: 175px !important;
  // background-color: red;
  // font-size: 10px;
  // border: 1 px solid red !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

.emptyFlexItem  {
  height: 25px;
  flex: 0 1 25px;
}

.centeredFlexBoxRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
