.buttonFlexContainer {
  direction: flex;
  flex-direction: column;
}
.buttonFlexItem {
  flex: 0 1 auto;
}
// https://stackoverflow.com/questions/46766597/styling-mat-select-in-angular-material
.mat-select {
  width: 175px !important;
  // background-color: red;
  // font-size: 10px;
  // border: 1 px solid red !important;
}
