.formFlexContainer {
  display: flex;
  flex-direction: column;
}
.formFlexItem {
  flex: 1 1 100%;
  margin: 5px;
}

.innerFormFlexContainer {
  display: flex;
  flex-direction: row;
}

.innerFormFlexItemOne {
  width: 75px;
  flex: 1 1 100%;
}
.innerFormFlexItemTwo {
  width: 150px;
  flex: 1 1 100%;
}
.innerFormFlexItemThree {
  flex: 1 1 100%;
}
