<div
  xFlex="1 1 100%"
  *ngFor="
    let oneSummarizedTasksByCategory of summarizedTasksByCategoryBuffer;
    let i = index
  "
>
  <div *ngFor="let item of oneSummarizedTasksByCategory; let innerIndex = index">
    <div fxLayout="column">
      <div fxFlex="1 1 100%">{{ groupCategories[i] }}</div>
      <mtt-configurable-stats-table
        fxFlex="1 1 100%"
        [summarizedTasks]="item"
        [lines]="linesBuffer[innerIndex]"
      ></mtt-configurable-stats-table>
    </div>
  </div>
</div>
