<div class="container">
  <div class="flexItem">
    <h1>MEAN-Time-Tracker</h1>
    <!-- <p>This Angular-application is based on a Session-Storage approach.</p>
    <p>This storage will be synchronized with a MongoDB-database.</p>
    <p>This Angular-application is supposed to work on both desktop-computer and mobile devices: responsiveness.</p> -->
    <ol>
      <li>Projects and Tasks are mirrored (by default) with database</li>
      <li>Database retrieval of projects and tasks (initial start of WebUI)</li>
      <li>Memento-Pattern: state "survives" browser-refresh (F5)</li>
      <li>A task can have an arbitrary number of start-stop-entries</li>
      <li>Each tasks can be paused an arbitrary number of times</li>
      <li>Goal: both desktop-computers and mobile devices (partly reached)</li>
    </ol>
  </div>
</div>
