<div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
  <div fxLayout="column" fxFlexFill fxLayoutAlign="center center" fxFlex="1 1 100%">
    <div flexFlex="1 1 100%">
      <mtt-query-date></mtt-query-date>
    </div>
    <div fxFlexFill fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 100%">
      <table flexFlex="1 1 100%" mat-table [dataSource]="workingHoursDataSource">
        <ng-container [matColumnDef]="displayedColumns[0]">
          <th mat-header-cell *matHeaderCellDef>Day</th>
          <td mat-cell *matCellDef="let element">
            {{element.day}}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="displayedColumns[1]">
          <th mat-header-cell *matHeaderCellDef>Start-Time</th>
          <td mat-cell *matCellDef="let element">
            <input [ngModel]="element.startTime" (ngModelChange)="onStartTimeChange($event, element)" matInput type="time" />
          </td>
        </ng-container>
        <ng-container [matColumnDef]="displayedColumns[2]">
          <th mat-header-cell *matHeaderCellDef>Duration</th>
          <td mat-cell *matCellDef="let element">
            {{Duration.fromObject(element.durationInMilliseconds).toFormat(Constants.contextDurationFormat)}}</td>
        </ng-container>
        <ng-container [matColumnDef]="displayedColumns[3]">
          <th mat-header-cell *matHeaderCellDef>End-Time</th>
          <td mat-cell *matCellDef="let element">
            <input [ngModel]="element.endTime" (ngModelChange)="onEndTimeChange($event, element)" matInput type="time" />
          </td>
        </ng-container>
        <ng-container [matColumnDef]="displayedColumns[4]">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> <button mat-stroke-button>
              <div style="text-align:center">
                <fa-icon [icon]="faTrash"></fa-icon>
              </div>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
