.innerContainer {
  display: flex;
  flex-direction: column;
}

.innerFlexItem {
  flex: 0 1 auto;
}

.formFlexContainer {
  display: flex;
  flex-direction: column;
}

.formFlexItem {
  flex: 0 1 auto;
}
