<div class="container">
  <div class="flexItem">
    <div class="innerContainer">
      <div class="innerFlexItem">
        <div>Sum to commit: {{durationStr}}</div>
      </div>
      <div class="innerFlexItem">
        <form [formGroup]="commitFormGroup" (submit)="onCommitClicked(commitFormGroup.value)">
          <div class="formFlexContainer">
            <div class="formFlexItem">
              <mat-select (selectionChange)="onProjectSelectionChanged($event)"
                [formControl]="formControlProjectDropDown" [required]="true">
                <mat-option *ngFor="let projectOption of projectOptions" [value]="projectOption.value">
                  {{projectOption.viewValue}}
                </mat-option>
              </mat-select>
            </div>
            <div class="formFlexItem">
              <button type="submit" [disabled]="commitFormGroup.invalid || isButtonDisabled">Commit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
