<div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
  <div fxFlex="1 1 100%">
    <div fxLayout="column">
      <div fxFlex=" 1 1 100%" *ngIf="isVisible">
        <mtt-configurable-stats-table
          [lines]="bookingLines"
        ></mtt-configurable-stats-table>
      </div>
      <mtt-day-select
        [deleteCurrentAndSwitchToNext]="deleteCurrentAndSwitchToNext"
        [days]="days"
        (daySelectionChange)="onDaySelectionChange($event)"
        (invalid)="onInvalid($event)"
      ></mtt-day-select>
      <div fxFlex="1 1 100%">
        <button
          (click)="onBookButtonClicked($event)"
          fxFlex="1 1 100%"
          type="submit"
          [disabled]="isInvalid"
        >
          Book
        </button>
      </div>
    </div>
  </div>
</div>
